<h1>New Game 🤓</h1>

<div>
  <% @letters.each do |letter| %>
    <span class=letter><%= letter %></span>
  <% end %>
</div>

<div class=form>
  <form action="/score" method="post">
    <input type="text" name="word" placeholder="Guess a word?">
    <input type="submit">
  </form>
</div>
