$gray: #F4F4F4;

body {
  font-family: Arial, sans-serif;
}

.letter {
  background-color: #3898DC;
  margin-right: 15px;
  padding: 15px;
  font-size: large;
  border-radius: 2px;
  margin-bottom: 10px;
}

.form {
  margin-top: 20px;
}
